*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

div#app{
    height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,#dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 94%;
    width: 80%;
    background-color: red;
}

main section.userbar{
    width: 35%;
    background-color: #ffffff;
}

section div.user-profile{
    height: 70px;
    background-color: #eaeaea;
}

section.userbar div.notifications{
    height: 80px;
    background-color: #8edafc;
}

section.userbar div.searchbar{
    height: 60px;
    background-color: #fafafa;
}

section.contacts {
    height: calc(100% - 210px);
    background-color: #ffffff;
    overflow-y: auto;
}

section.userbar div.contacts span h3{
    font-weight: 100;
}

main section.conversation-container{
    width: 65%;
    background-color: #eaeaea;
}

div.messages{
    height: calc(100% - 145px);
    background-image: url('../img/mine.jpg');
    padding: 2rem;
}

div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
}

main section.conversation-container div.message-input{
    height: 75px;
    background-color: #f3eeea;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.clearfix::after{
    display: block;
    clear: both;
    content:'';
}

.notifications-text-content{
    display: flex;
    flex-wrap: wrap;

}

.notifications-text-content h3, .notifications-text-content p{
    font-size: 1rem;
}

.notifications{
    display: flex;
}

.notifications i {
    font-size: 30px;
    color: #8edafc;
    background-color: #f2fbff;
    padding: .5rem;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.notifications h3{
    font-weight: 100;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar i {
    color: #d0d0d0;
    padding: 0 35px;
}

.searchbar input {
    all: unset;
    align-self: center;
    width: 100%;
}

section.contacts {
    height: calc(100% - 210px);
    background-color: #ffffff;
    overflow-y: auto;
}

.chat-container {
    padding: 10px;
}

span.chat-element {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

span.chat-element:hover {
    background-color: #f0f0f0;
}

.propic-container {
    margin-right: 15px;
}

span.chat-element img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.contact-name {
    font-weight: bold;
}

.last-message,
.time-sent {
    color: #888;
    margin: 3px 0;
    font-size: 14px;
}

.time-sent{
    justify-content: end;
}

.message-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-input i{
    font-size: 1.5rem;
    color: #6d7475;
}

.message-input input{
    all: unset;
    width: 80%;
}